
/* ===================List ====================*/

.banner-header{
  position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 30vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 300px;
    color: #eee;
}
.banner-header:after{
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.banner-header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url("../images/banner-header.jpg") top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
.banner-header a{font-size: 15px;color:#fff;}
.banner-header h2{
 font-size: 45px;
 position: relative;
 margin-bottom: 50px;
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:8% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
.banner-header i{
	border: 1px solid #fff;
    height: 70px;
    width: 71px;
    border-radius: 50%;
    display: inline-block;
    line-height: 65px;
    background: #ffffff2b;
}

/* ================TAB ================*/

.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 30px auto;
  overflow: hidden;
}

.slidemenu label{
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.5;

}
.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
      display: block;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
}

.slidemenu label .icon{
 font-size: 20px;
    /* border: solid 2px #333; */
    text-align: center;
    height: 40px;
    width: 110px;
    display: block;
    margin: 0 auto;
    line-height: 37px;
    /* border-radius: 50%; */
}

.slider{
  width: 100%;
    height: 2px;
    display: block;
    background: #ccc;
    border-radius: 5px;
}
.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }

.sub-content .item-title{position: relative;    padding: 40px;}
.sub-content .item-title::before{
	content: "";
    width: 1px;
    height: 115px;
    position: absolute;
    bottom: 112px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;
    background: #fff;
}
/* CARD */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}
.card {
  position: relative;
    height: 300px;
    width: 46%;
    margin: 2%;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.14);
}
.card .thumbnail {
     float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 260px;
    width: 386px;
    border-radius: 0;
    border: 0;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  margin-bottom: 0;
}
.card .card-bottom
.card img.card-left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.card .card-right {
   margin-left: 440px;
    margin-right: 15px;
}
.card .card-right h2{
	font-size: 20px;
	color: #062c55;
}
.card h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}
.separator {
  margin-top: 10px;
  border: 1px solid #ddd;
 margin-bottom: 10px;
}
.card-date{    
	position: absolute;
    left: 57px;
    bottom: 92px;
    border: 2px solid #ddd;
    text-align: center;
    padding: 0 5px;
}
.card-bottom{
	display: inline-flex;
    float: left;
    width: 100%;
    justify-content: space-around;
    line-height: 10px;
}
.card-icon{
	display: flex;
    align-items: start;
    width: 100%;
    padding-left: 34px;

}
.card-icon i::before{font-size: 22px;}
.card h5 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}
.card h6 {
  font-size: 14px;
  color: #fff;
      margin-top: 0;
}
.card li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}
.btn-detail {
  position: absolute;
    right: 30px;
    color: #af142e;
    bottom: 10px;
}
.btn-detail i::before{
	font-size: 45px;
}
/* pagination */
.sub-content .pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px 0 40px 0;
}
.sub-content .pagination a {
    display: inline-block;
    color: #222;
}
.sub-content .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.p4 .is-active li{
   background-color: #071c33;
}
.p4 a span{
	font-size: 20px;
    color: #d0d4d9;
}
.p4 li {
    width: 30px;
    height: 15px;
    padding: 0;
    margin: auto 5px;
    background-color: rgba(7, 28, 51, 0.19);
}